XMLpy/__pycache__/conversoes.cpython-37.pyc
XMLpy/__pycache__/dirEinp.cpython-37.pyc
XMLpy/__pycache__/SegmentacaoFiltros.cpython-37.pyc
XMLpy/__pycache__/xmldict.cpython-37.pyc
XMLpy/__pycache__/conversoes.cpython-37.pyc
XMLpy/__pycache__/dirEinp.cpython-37.pyc
XMLpy/__pycache__/SegmentacaoFiltros.cpython-37.pyc
XMLpy/__pycache__/xmldict.cpython-37.pyc
.vscode/settings.json
XMLpy/__pycache__/conversoes.cpython-37.pyc
XMLpy/__pycache__/SegmentacaoFiltros.cpython-37.pyc
